<div class="row">
  <div class="col-md-3 col-sm-4 col-xs-6"><a href="#"><img class="img-fluid" src="https://angularbooks.com/img/angular4/img1.jpg" /></a></div>
  <div class="col-md-3 col-sm-4 col-xs-6"><a href="#"><img class="img-fluid" src="https://angularbooks.com/img/angular4/img2.jpg" /></a></div>
  <div class="col-md-3 col-sm-4 col-xs-6"><a href="#"><img class="img-fluid" src="https://angularbooks.com/img/angular4/img3.jpg" /></a></div>
  <div class="col-md-3 col-sm-4 col-xs-6"><a href="#"><img class="img-fluid" src="https://angularbooks.com/img/angular4/img4.jpg" /></a></div>
  <div class="col-md-3 col-sm-4 col-xs-6"><a href="#"><img class="img-fluid" src="https://angularbooks.com/img/angular4/img5.jpg" /></a></div>
  <div class="col-md-3 col-sm-4 col-xs-6"><a href="#"><img class="img-fluid" src="https://angularbooks.com/img/angular4/img6.jpg" /></a></div>
  <div class="col-md-3 col-sm-4 col-xs-6"><a href="#"><img class="img-fluid" src="https://angularbooks.com/img/angular4/img7.jpg" /></a></div>
  <div class="col-md-3 col-sm-4 col-xs-6"><a href="#"><img class="img-fluid" src="https://angularbooks.com/img/angular4/img8.jpg" /></a></div>
</div>
